@font-face {
  font-family: 'billabongregular';
  src: url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.eot");
  src: url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.eot?#iefix") format('embedded-opentype'), url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.woff") format('woff'), url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.ttf") format('truetype'), url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.svg#billabongregular") format('svg');
  font-weight: normal;
  font-style: normal;
}
/* styling for headers */
h1 {
  font-family: billabong, 'billabongregular';
  text-align: center;
  font-weight: 100;
  font-size: 8rem;
  margin: 2rem 0;
  letter-spacing: -1px;
  color: black;
  text-decoration: none;
}

/* enable scrolling */
html {
  overflow-y: scroll;
}

h2, h3, h4, h5 {
  font-family: 'EconomicaBold';
}


.App {
  display: flex;
  align-items:center;
  align-content: space-around;
  justify-content: stretch;


}

.CardRow{
  align-self: stretch;
  
}

.btnRow{
  padding: 5px;
}

.answers {
  padding-bottom: 20%;
  margin-left: 20%;
}

.reset {
margin-bottom: 30%;
}

body {
  text-align: center;
  font-size: 20px;
  padding: 2.5%;
  font-family: 'RobotoCondensed';
  overflow: hidden;
  display: flex;
  justify-content: center; /*centers items on the line (the x-axis by default)*/
  align-items: center; /*centers items on the cross-axis (y by default)*/
  background-color: #F1F1F1;
}

.know {
  font-size: 0.7em;
  border: none;
  width: 200px;
  height: 70px;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
  color: #32CD32;
  box-shadow: 0px 6px #2c3e50;
  background: #34495e;
  margin: auto;
}

.know:active{
  border: none;
  position: relative;
  top: 3px;
  box-shadow: 0px 0px #2c3e50;
  background: #2c3e50;
}

.dontKnow {
  color: tomato;
  font-size: 0.7em;
  border: none;
  width: 200px;
  height: 70px;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
  box-shadow: 0px 6px #2c3e50;
  background: #34495e;
  margin: auto;
}

.dontKnow:active {
  border: none;
  position: relative;
  top: 3px;
  box-shadow: 0px 0px #2c3e50;
  background: #2c3e50;
}



.controls {
  align-items: flex-end;
  justify-content: center;
  margin: 2% auto;
}

.card-container {
  cursor: pointer;
  height: 400px;
  width: 400px;
  perspective: 800px;
  margin-left: 26%;
  transition: ease-in;
  margin-bottom: 20px;
}

.card {
  height: 400px;
  width: 400px;
  position: absolute;
  border: 1px solid #300;
  transform-style: preserve-3d;
  transition: all 0.4s ease-in-out;
}

.card:hover {
  transform: rotateY(180deg);
  transition: all 0.4s ease-in-out;
}

.card .front {
  height: 400px;
  width: 400px;
  backface-visibility: hidden;
  position: absolute;
  overflow: hidden;
  text-align: center;
  background-color: rgba(255, 253, 208, 1);
}

.card .back {
  height: 400px;
  width: 400px;
  text-align: center;
  background-color: rgba(255, 253, 208, 1)
}

.card .back {
  height: 400px;
  width: 400px;
  text-align: center;
  transform: rotateY(180deg);
}

.question{
  margin-top: -5rem;
  color: #333;
  font-size: 2.3em;
  padding-top: 40%;
}

.answer{
  color: #333;
  font-size: 2.0em;
  padding-top: 10%;
}

.image img {
  height:10rem;
  width: 14rem;
}

.controls {
  display: flex;
  justify-content: center;
  margin: 2% auto;
}

.controls > .addIcon {
  margin: 5px;
}

.addIcon {
  background: url("./assets/add.png") center no-repeat;
  background-size: contain;
  padding: 40px;
  margin: 0 20px;
  border: none;
}

.viewDeck {
  background: url("./assets/cardDeck1.png") center no-repeat;
  background-size: contain;
  padding: 40px;
  margin: 0 20px;
  border: none;
}

.backToApp {
  background: url("./assets/backIcon.png") center no-repeat;
  background-size: contain;
  padding: 40px;
  margin: 20px auto;
  border: none;
}

.btn {
  font-size: 1.5em;
  border: none;
  width: 200px;
  height: 70px;
  text-align: center;
  line-height: 70px;
  text-decoration: none;
  color: #ecf0f1;
  box-shadow: 0px 6px #2c3e50;
  background: #34495e;
  margin: auto;
}

.btn:active{
  border: none;
  position: relative;
  top: 3px;
  box-shadow: 0px 0px #2c3e50;
  background: #2c3e50;
}

.btn-eod {
  font-size: 1.5em;
  border: none;
  width: 200px;
  height: 70px;
  text-align: center;
  text-decoration: none;
  color: #ecf0f1;
  box-shadow: 0px 6px #4c1d15;
  background: #7a0012;
  margin: auto;
}

.btn-eod:active{
  border: none;
  position: relative;
  top: 3px;
  box-shadow: 0px 0px #4c1d15;
  background: #4c1d15;
}

.form {
  background: white;
  max-width: 360px;
  margin: 0 auto;
  padding: 45px;
  text-align: center;
}

.form input {
  font-family: sans-serif;
  background: #f2f2f2;
  width: 100%;
  border: none;
  padding: 15px;
  box-sizing: border-box; 
  font-size: 14px;
  margin: 0 0 15px;
}

.form button {
  font-family: sans-serif;
  text-transform: uppercase;
  background: #065784;
  width: 100%;
  border: none;
  padding: 15px;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

.form button:hover {
  background-color: #7b8589;
}

button:hover {
  border-color: blue;
}

.buttonContainer {
  padding: 0 20%;
  margin-left: 2%;
  margin-bottom: 20px;
}

.edit-card form input {
  font-weight: 600;
}

.sideCheck {
  padding-left: 50px;
}
